/* ============================================
   UTILITIES
   ============================================ */
.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Icons */
.lucide {
    display: inline-block;
    vertical-align: middle;
}

.inline-icon {
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    margin-right: 4px;
}

.status-icon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 6px;
}

.btn-convert .inline-icon {
    margin-right: 8px;
}